body {
    font-family: 'Raleway', sans-serif;
}

nav {
    padding: 0 1rem;
    .brand-logo {
        font-family: 'Merriweather', serif;
    }
}

#options {
    min-height: 85vh;
}
.bold{
	font-weight: bold;
}