<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/project.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
</head>

<body>
    <header class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Profile</a></li>
            <li><a href="#!">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#!">Log Out</a></li>
        </ul>
        <nav class="amber darken-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Organibotics</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="home.html" class="left">Home</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">account_circle</i><i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <section id="tasks" class="col s12 m9">
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <h4 class="grey-text text-darken-2">Tasks</h4>
                    </div>
                    <div class="col s6">
                        <button type="button" class="waves-effect waves-light btn blue darken-3 modal-trigger right" href="#addTask">Add Task<i class="large material-icons right">add</i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://dummyimage.com/30x200/1331d6/1331d6.jpg">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s9">
                                            <h5>Task name</h5>
                                            <p>Task description. I am good at containing small bits of information.</p>
                                        </div>
                                        <div class="col s3 center center-align">
                                            <img class="circle" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="priority">
                                            <h6>Role</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a>Estimated time <i class="material-icons">access_time</i> <span>5hrs</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://dummyimage.com/30x200/1331d6/1331d6.jpg">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s9">
                                            <h5>Task name</h5>
                                            <p>Task description. I am good at containing small bits of information.</p>
                                        </div>
                                        <div class="col s3 center center-align">
                                            <img class="circle" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="priority">
                                            <h6>Role</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a>Estimated time <i class="material-icons">access_time</i> <span>5hrs</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6">

                    </div>

                </div>
            </section>

            <section id="options" class="col s12 m3 center-align grey lighten-1 white-text">
                <div class="row">
                    <h4 class="">Project Options</h4>
                </div>
                <div class="row">
                    <h5>Team</h5>
                    <div class="col s12">
                        <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                        <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                        <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                        <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="waves-effect waves-light btn blue darken-3 modal-trigger" href="#addMember">Add team member<i class="large material-icons right">add</i></button>
                </div>
                <div class="row">
                    <a class="waves-effect waves-teal btn-flat">View Timeline</a>
                </div>
            </section>
        </div>
    </main>
   <!-- Modal Add Task -->
       <div id="addTask" class="modal">
           <div class="modal-content">
               <form>
                 <h5>New Task</h5>
                 <div class="row">
                     <div class="input-field col s12 m7">
                          <h6 class="margin">Project Name</h6>
                          <input type="text">
                          <h6>Description:</h5>
                          <textarea placeholder="Description:"></textarea>
                     </div>
                     <div class="input-field col s12 m5">
                          <h6>Assigned to:</h6>
                          <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                          <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                          <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">
                          <div class="input-field">
                              <h6>Set time</h6>
                              <i class="material-icons prefix">access_time</i>
                              <input type="text" placeholder="">
                          </div>
                          <div class="input-field">
                            <h6>Set Role</h6>
                            <select>
                              <option value="" disabled selected>Choose a role</option>
                              <option value="1">Role 1</option>
                              <option value="2">Role 2</option>
                              <option value="3">Role 3</option>
                            </select>
                         </div>

                     </div>
                </div>
                    <div class="modal-footer">
                      <button href="#!" class="right modal-action modal-close waves-effect waves-light btn blue darken-3">Create</button>
                    </div>
                </form>
           </div>
           <div class="modal-footer">
               <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey lighten-1">x</a>
           </div>
        </div>

    <!-- Modal Add Team Member -->
    <div id="addMember" class="modal">
        <div class="modal-content">
            <form class="col s12">
                    <div class="input-field col s12">
                      <h5>Add Member</h5>
                      <div class="input-field">
                         <input class="input_margin" id="search" type="search" required>
                         <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>

                     <div class="collection">
                        <a href="#!" class="collection-item"> <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">Name 1</a>
                        <a href="#!" class="collection-item"> <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">Name 2</a>
                        <a href="#!" class="collection-item"> <img class="circle responsive-img" src="https://dummyimage.com/50x50/dbdbdb/404040.jpg&text=DV" alt="">Name 3</a>
                      </div>
                    <div class="modal-footer">
                      <button type="button" href="#!" class="modal-action modal-close waves-effect waves-light btn blue darken-3">Add members</button>
                    </div>
                </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey lighten-1">x</a>
        </div>
    </div>

    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/project.js"></script>
</body>

</html>
