<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Line</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/home.css">
</head>

<body>
	<div class="container">
		<div class="col s8 offset-s2">
			<h3>Time line</h3>
			<div class="collection">
			    <a href="#!" class="collection-item">
			    	<i class="material-icons other_color">access_time</i>
			    	<span class="badge blue">1</span>
			    	Add pointer to main CSS</a>
			    <a href="#!" class="collection-item">
			    	<i class="material-icons">subscriptions</i>
			    	<span class="new badge">4</span>
			    	Create video assets</a>
			    <a href="#!" class="collection-item">
			    	<i class="material-icons">build</i>
			    	<span class="badge red">1</span>
			    	Make the database structure</a>
			    <a href="#!" class="collection-item">
			    	<i class="material-icons">timeline</i>
			    	<span class="badge red">3</span>
			    	Draft network plan</a>
			    <a href="#!" class="collection-item">
			    	<i class="material-icons">stay_primary_landscape</i>
			    	<span class="badge red">3</span>
			    	Review performance in landscape</a>
			</div>
		</div>
  	</div>
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/timeline.js"></script>
</body>

</html>
